*.swp
*.o
*.lo
*.la
*.a
*.exe
*.lib
*.obj
*.pdb
*.idb
*.opensdf
*.orig
*.sdf
*.suo
*.user
*.log
*.tlog
*.manifest
ipch
msvc/Debug
msvc/ipch
msvc/LibRecommender/Debug
msvc/Tests/Debug
msvc/Demo/Debug
msvc/shuffle/Debug
msvc/kfold/Debug
*.DAT
*.DATA
*.dat
*.data
*.test
msvc/example
*.so
